---
import { getCollection } from 'astro:content';
import Layout from '~/layouts/PageLayout.astro';

// Define the type for a bundle
interface Freebie {
  id: string;
  data: {
    title: string;
    slug: string;
    date: string;
    excerpt: string;
    image: string;
  };
}

const freebies = await getCollection('freebie');

const freebieWithSlug = freebies.map((freebie: any) => ({
  ...freebie,
  data: {
    ...freebie.data,
    slug: (freebie.data.slug as string) || freebie.id.replace(/\.md$/, ''),
  },
})) as Freebie[];

const metadata = {
  title: 'Freebies | Pine Tree Magick',
  description: 'Pinetree Magick Freebies',
};
---

<Layout metadata={metadata}>
  <div class="mx-auto max-w-7xl p-4 md:px-8">
    <p class="text-base text-secondary dark:text-secondary font-bold tracking-wide uppercase text-center mt-12">Some heading</p>
    <h1 class="font-normal tracking-tighter font-heading text-heading text-4xl md:text-5xl text-center">Freebies</h1>
  </div>

  <h2 class="text-3xl md:text-4xl font-heading text-center mb-12">All Freebies</h2>
  <div class="flex flex-wrap gap-12 row-gap-5 lg:gap-16 mb-16 mx-auto max-w-7xl px-8 md:px-12">
    {
      freebieWithSlug.map((freebie) => (
        <div class="relative flex flex-col w-[100%] md:w-[calc(50%-2rem)] dark:border-slate-600 dark:border overflow-hidden rounded-md shadow-md dark:hover:border-1 dark:hover:border-primary transition-all duration-300">
          <a href={`/guided-bundles/${freebie.data.slug}`} class="block group">
            <img 
              src={freebie.data.image} 
              alt={freebie.data.title} 
              class="w-full flex h-48 object-cover transform transition-transform duration-300 group-hover:scale-105"
            />
            <div class="px-4 py-6 overflow-hidden">
              <h3 class="text-xl font-bold mb-2">{freebie.data.title}</h3>
            </div>
          </a>
        </div>
      ))
    }
  </div>  
</Layout>