---
import { getCollection } from 'astro:content';
import Layout from '~/layouts/PageLayout.astro';
import Header from '~/components/widgets/Header.astro';

export async function getStaticPaths() {
  const workshops = await getCollection('workshop');
  return workshops.map((workshop) => ({
    // @ts-ignore
    params: { slug: workshop.data.slug || workshop.id.replace(/\.md$/, '') || 'default-slug' },
  }));
}

const { slug } = Astro.params as { slug: string };
const workshops = await getCollection('workshop');
// @ts-ignore
const workshop = workshops.find((workshop) => (workshop.data.slug || workshop.id.replace(/\.md$/, '')) === slug);

if (!workshop) {
  throw new Error('Workshop not found');
}

const { title, excerpt, image, price, date, time, location } = workshop.data;
const body = workshop.body;

const metadata = {
  title: title,
};
---

<Layout metadata={metadata}>
  <Fragment slot="header">
    <Header
      links={[
        { text: 'Readings', href: '/readings' },
        { text: 'About', href: '/about' },
        { text: 'Substack', href: '#substack' },
      ]}
      isSticky
    />
  </Fragment>
  <article class="max-w-2xl mx-auto p-6 space-y-6">
    <h1 class="text-4xl font-bold">{title}</h1>
    <img src={image} alt={title} class="w-full h-64 object-cover rounded-lg shadow-md" />
    <p class="text-gray-500 text-lg">{excerpt}</p>
    <div class="text-lg">
      <p><strong>Date:</strong> {date}</p>
      <p><strong>Time:</strong> {time}</p>
      <p><strong>Location:</strong> {location}</p>
      <p><strong>Price:</strong> ${price}</p>
    </div>
    <div>
      <h2 class="text-3xl font-semibold mt-4">Workshop Details</h2>
      <p class="text-base mt-1">{body}</p>
    </div>
  </article>
</Layout>
